[Unit]
Description=piradio
Wants=network-online.target sound.target
After=syslog.target network.target network-online.target sound.target

[Service]
Type=forking
WorkingDirectory=/home/pi/piradio
ExecStart=/home/pi/piradio/player.sh
PIDFile=/tmp/piradio.pid
Restart=on-failure
User=pi
RestartSec=5s
TimeoutSec=10s
StandardOutput=null
RemainAfterExit=yes

[Install]
WantedBy = multi-user.target network-online.target sound.target

